.btn-outline-success-200{
    --bs-btn-active-color: white;
    --bs-btn-hover-color:white;
}

.primary-btn{
    &:hover{
        color: $primary-02;
        transform: scale(1.1);
        transition: transform 0.5s;
    };
    &:active{
        border: none;
    };
}

.icon:hover{
    color:$primary;
    transform: scale(1.03); /* 放大 1% */
    transition: transform 0.3s ,color 0.3s;
}
a.btn-outline-primary {
    --bs-btn-hover-color: white;
    --bs-btn-active-color: white;
  }