.slick-dots li button:before {
  color: $secondary-50;
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: $primary-02;
  font-size: 16px;
}

.slick-slider,
.slick-slide {
  -webkit-tap-highlight-color: transparent; /* 移除點擊時的高亮效果 */
}
