.footer {
    background-color: #6e5e57;
    color: white;
    padding: 100px 312px;
    min-height: 340px;
    border: 1px solid red;
  
    .footer-container {
      margin: 0 auto;
      border: 1px solid pink;
    }
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid yellow;
    }
  
    .footer-left {
      display: flex;
      align-items: center;
      gap: 40px;
      border: 1px solid green;
  
      .footer-logo {
        display: flex;
        justify-content: center;
        border: 1px solid green;
  
        img {
          width: 217px;
          height: auto;
        }
      }
  
      .footer-info {
        font-size: 20px;
        line-height: 1.2;
        justify-content: flex-start;
        border: 1px solid blue;
  
        p {
          margin: 0;
          margin-bottom: 20px;
          border: 1px solid red;
  
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  
    .footer-social {
      display: flex;
      gap: 36px;
      border: 1px solid black;
  
      .social-icon {
        font-size: 4rem;
        color: white;
        transition: opacity 0.3s ease;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  
  /* 響應式設計 */
  @media (max-width: 768px) {
    .footer {
      padding: 40px 0;
      border: 1px solid black;
  
      .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
  
      .footer-left {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
      }
  
      .footer-logo {
        width: 100px;
        margin-bottom: 10px;
      }
  
      .footer-info {
        font-size: 14px;
  
        p {
          margin-bottom: 4px;
        }
      }
  
      .footer-social {
        margin-top: 20px;
        justify-content: center;
      }
    }
  }
  