@import "bootstrap/scss/functions";
@import "./variables";
@import "/node_modules/bootstrap";
@import "bootstrap/scss/utilities/api";
@import "./utilities.scss";
@import "bootstrap/scss/bootstrap.scss";
//字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
//基礎設置
@import"./base.scss";
//表格
@import "./table.scss";
//月曆事件設置
@import "./calendar.scss";
@import "./pagination.scss";

.linear{
    background: linear-gradient(90deg, #FFFFFF, #ECE6DC);
}

.img-over{
    width: auto;
    min-width: 100%;
    height: auto;
}

.card-img {
  width: 100%;  /* 讓圖片填滿容器 */
  object-fit: cover;
  border-radius: 0; /* 保持圖片比例，不拉伸，裁剪多餘部分 */
}

.slick-dots li button:before {
  color: $secondary-50;
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: $primary-02;
  font-size: 16px;
}
  
  
.slick-slider,
.slick-slide {
  -webkit-tap-highlight-color: transparent; /* 移除點擊時的高亮效果 */
}
