@import "bootstrap/scss/functions";
@import "./variables";
@import "/node_modules/bootstrap";
@import "bootstrap/scss/utilities/api";
@import "./utilities.scss";
@import "bootstrap/scss/bootstrap.scss";
//字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
//基礎設置
@import"./base.scss";

.linear{
    background: linear-gradient(90deg, #FFFFFF, #ECE6DC);
}

.img-over{
    width: auto;
    min-width: 100%;
    height: auto;
}
.card-img{
    width: 100%; /* 图片占据容器的宽度 */
    height: 250px; /* 设置固定高度 */
    border-radius: 0;
}
.card{
    border-radius: 0;
    
}